/* Hero mobiilivaade */
@media (max-width: 768px) {
    .hero {
        padding: 40px 20px;
        gap: 30px;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .text-content {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .stamps {
        order: 1;
    }

    .text-content h1 {
        font-size: 2.5em;
    }

    .text-content p {
        font-size: 1em;
    }

    .stamps img {
        min-width: 300px;
        max-width: 80%;
        display: block;
        margin: 0 auto;
    }
}

@media (max-width: 480px) {
    .hero {
        padding: 30px 15px;
    }

    .text-content h1 {
        font-size: 2em;
    }

    .text-content p {
        font-size: 0.9em;
    }

    .stamps img {
        min-width: 250px;
        max-width: 90%;
    }
}


/* Faktide mobiilivaade */
@media (max-width: 768px) {
    .facts .content {
        grid-template-columns: 1fr;
    }
}


/* Mälestuste mobiilivaade */
@media (max-width: 768px) {
    .image-container {
        display: none;
    }

    .memories-content {
        flex-direction: column;
        align-items: center;
    }

    .faq-container {
        width: 100%;
    }
}

